:root {
    --background-color: black;
  }
*,
* ::before,
* ::after {
  box-sizing: border-box;  
}
* {
  margin: 0;
  padding: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    place-items: center;
    border-style: solid;
    border-color: navy;
    border-width: 5px;

  }
  header { 
      font-size: 24px;
      text-align: center;
      padding-bottom: 10px;
      border-width: 5px;
      border-style: solid;
      border-color: teal;
    }
  footer {
    border: solid red;
    height: auto;
    width: auto;
  }
  .version-details {
    position: relative; 
    left: 200px;
  }

  .calculator-container {
    display: grid;
    gap: 5%;
    padding-bottom: 10%;
    grid-template-rows: repeat(2, auto);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(65, 58, 75);
  }

  
  .input-container {
    width: auto;
    height: fit-content;
    border-style: solid;
    border-color: red;
  }

  .input-area {
    border-radius: 25%;
    height: 35px;
    text-align: right;
    padding-right: 10%;
    font-size: 16px;  
    box-shadow: 0 5px #999;
  }

  .arithmetic-operators-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1.5%; 
    /* 12 - 48 px*/
    border-style: solid;
    border-color: green;
    border-width: 5px;
    padding: 10px 10px 25px 10px;
    /* padding-bottom: 50px; */
  }

  .arithmetic-operator {
    border-radius: 35%;
    width: 50px;
    height: 35px;
    margin: 2.5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px #999;
  }

  .equals {
    grid-column: 2 / 4;
    width: 100px;
  }

  .arithmetic-operator :hover {
    background-color: grey
  }

  .arithmetic-operator :active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

